body {
    background-color: #F8F8F8;
}
.bg {
  background: url(../Websiteimages/Pokemon-Go-banner.jpg) center center / cover no-repeat;
  position: fixed;
  width: 100%;
  height: 400px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 340px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

.modal-dialog
{
    width: 450px; /* your width */
}


/** MyPOKEMON **/
/*images*/
.mypokemonimage {
    width: 240px;
    height: 240px;
}

/**Hide catch id column**/
.hidden {
    display:none;
}





/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 20px;
}

/* Slider for welcome page
-------------------------------------------------- */

.carouselcontainer {
  margin: 0 auto;
  width: 250px;
  height: 370px;
  position: relative;
  perspective: 1000px;
}

.mycarousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.mycarouselitem {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  border-radius: 10px;
}
.mycarousel .mycarouselitem {
  box-shadow: 0px 2px 6px #888888;
}
.slide1 {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
}
.slide2 {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
}
.slide3 {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
}
.slide4 {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
}
.slide1004 {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
} 
.slide1005 {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }

/** my own fixes **/
.jumofixheight {
    height: 200px;
}
.jumbotron h2 {
    color: #858585;
    text-shadow: none;
}

/** navbar fix **/
.navbar {
    margin-bottom: 0px !important;
}
/** login menu **/
#content_loginmenu, #content_loginwebmaster {
    background-color: #F8F8F8;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
#content_loginmenu a, #content_loginwebmaster a {
    margin-right: 12px;
    margin-left: 13px;
}

/** Block element **/
.blockelement {
    display: block;
}

/** Form fields **/
.mediumfield, .mydropdown {
    width: 200px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}
.form-group {
    margin-bottom: 8px;
}
/** textalign center **/
.text-center-me {
    text-align: center;
}
.text-center-me table {
    text-align: center;
    margin: auto;
}
.text-center-me th {
    text-align: center !important;
}

/** button space **/
.buttonspace {
    margin: 0px 5px;
}

/** full width **/
.fullwidth table {
    width: 100%;
}

/** active page in login menu **/
#content_loginmenu .active {
    text-decoration: underline;
}
#content_loginwebmaster .active {
    text-decoration: underline;
}
/** top buffer **/
.mytopbuffer {
    margin-top: 20px;
}
/** sponsor header frontpage **/
.headerunderline {
    border-bottom: 3px solid;
    width: 70px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 45px;
    color: #858585;
}
/** sponsor boxes **/
.sponsorboxes {
    height: 200px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponsorboxes img {
    max-width: 100%;
    max-height: 100%;
}
.sponsortext {
    color: #858585;
}
/** Fileupload Imageboxes **/
.mypokemonimage {
    width: 165px;
    height: 165px;
}
/** Feedback **/
.succescolor {
    color: green;
}
.errorcolor {
    color: red;
}