.active, #active {

    color: saddlebrown;

}
.demo-layout-transparent {
  background-color: gray;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.visiblebackgroundcolor {
    
    background-color: gray;
    margin: 0px 0px 20px 21px;

}
.errorcolor {
    color: #bc011c;
}
.successcolor {
    color: green;
}
.passwordstyle {
    -webkit-text-security: disc;
}