body {
}


.bg {
  background: url(Images/Pokemon-Go-banner.jpg) center center / cover no-repeat;
  position: fixed;
  width: 100%;
  height: 400px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 340px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

.modal-dialog
{
    width: 450px; /* your width */
}