body {
    font-family: Roboto;
}
.active, #active {

    color: #FEEA3A;

}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  background-color: #2196F3;
}
/** LINKS IN NAV **/
.mdl-navigation a {
    font-weight: 600;
}

.visiblebackgroundcolor {
    margin: 0px 0px 20px 21px;
}
.errorcolor {
    color: #bc011c;
}
.successcolor {
    color: green;
}
.passwordstyle {
    -webkit-text-security: disc;
}